* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #fafafa;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.column-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
}

.column-left .image img {
  max-width: 750px;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 100%;
  padding: 5px;
  margin-top: 40px;
}

.first-box {
  background-color: white;
  border: 1px solid #c2c2c2;
}

.column-right .logo {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.column-right form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.column-right form input {
  margin: 5px;
  padding: 8px;
  width: 250px;
  border: .05em solid #c2c2c2;
}

.column-right form input::placeholder {
  font-size: 12px;
}

.column-right .login-btn {
  width: 250px;
  background-color: #B2DFFC;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  padding: 7px;
  margin: 8px auto;
  border-radius: 4px;
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator::before {
  content: '';
  border: 1px solid rgb(225, 225, 225);
  width: 35%;
  padding: 0;
  height: 0;
  align-items: center;
  margin-right: 10px;
}

.separator::after {
  content: '';
  border: 1px solid rgb(225, 225, 225);
  width: 35%;
  padding: 0;
  height: 0;
  align-items: center;
  margin-left: 10px;
}

.login-face,
.forgot-pass {
  margin: 20px;
  text-align: center;
}

.login-face a {
  color: #282828;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.forgot-pass {
  font-size: 12px;
  font-weight: 400;
}

.register-box {
  background-color: white;
  border: 1px solid #c2c2c2;
  padding: 20px;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}

.register-box .register {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.store-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.store-box .title {
  text-align: center;
  font-size: 14px;
}

.store-box img {
  max-width: 150px;
}

.download-btns {
  display: flex;
  gap: 10px;
}